bootstrap/cache
!bootstrap/cache/.gitignore

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/
node_modules/

.env
.env.backup
.env.production
auth.json

.git/
.gitignore
.gitattributes

.idea/
